---
layout: default
title: Equipment
permalink: /equipment/
---

<h3>Current Equipment</h3>

<p>We'll do our best to keep this list up to date, but if you notice anything out of date, please <a href="/contact/">get in touch</a></p>

<table class="table">
 <thead>
   <tr>
   <th>Item</th>
   <th>Caretaker</th>
   <th>Status</th>
   </tr>
  </thead>
  <tbody>

{% for item in site.data.equipment %}
   <tr>
   {% if item.tag %}<td><a href="{{ item.tag }}">{{ item.name }}</a></td>
   {% else %}<td>{{ item.name }}</td>{% endif %}
   <td>{{ item.person }}</td>
   <td>{{ item.status }}</td>
   </tr>
{% endfor %}

  </tbody>
</table>


