---
layout: default
title: Events
permalink: /events/
---

<h1> Regular Events</h1>

<ul>
<li><b>Tuesday Open Nights</b> - Every Tuesday - 6pm to 9pm
<p>Come along and use the equipment and catch up with other members and new
people. Bring your project along for show and tell.</p>

<li><b>Sunday Open Days</b> - Last Sunday of Every Month excluding December.
</ul>

<!-- <p>For latest events check our public Facebook Page - <a href="https://www.facebook.com/pg/HobartMakers/events/">https://www.facebook.com/pg/HobartMakers/events/</a>
(no login required)</p> -->

