---
layout: default
title: Member Profiles
permalink: /profiles/
---

<h1>Member Profiles</h1>

<div class="row">
    <div class="col-md-5"><h3>Info</h3></div>
    <div class="col-md-3"><h3>Interests &amp; Projects</h3></div>
</div>
{% for member in site.data.members %}
<div class="row padding-below">
    <div class="col-md-2">
        <a name="{{ member.nickname }}">
        {% if member.image %}
        <img src="{{ member.image }}" height="80" width="80">
        {% else %}
        <img src="/assets/images/noavatar.jpg" height="80" width="80">
        {% endif %}
        </a>
    </div>
    <div class="col-md-3">
        <h4>{{ member.name }}</h4>
        {% if member.email %}<p>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>{% endif %}
        {% if member.twitter %}<p>Twitter: <a href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a></p>{% endif %}
        {% if member.fediverse %}<p>{% assign fedi = member.fediverse | split: "@" %}Fediverse: <a href="https://{{fedi[1]}}/@{{fedi[0]}}">{{member.fediverse}}</a></p>{% endif %}
    </div>
    <div class="col-md-3" style="line-height:170%">
        {% if member.interests %}
            <h4>Interests</h4>
            {% for interest in member.interests %}
            <span class="label label-primary">{{ interest }}</span>
            {% endfor %}
        {% endif %}
        {% if member.projects %}
            <h4>Projects</h4>
            {% for project in member.projects %}
                {% for proj in site.data.projects %}
                    {% if proj.tag == project %}
                        <span class="label label-success"><a href="/projects/#{{ proj.tag }}">{{ proj.project }}</a></span>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if member.websites %}
            <h4>Websites</h4>
            {% for website in member.websites %}
                <span class="label label-info"><a href="{{ website }}" target="_blank">{{ website }}</a></span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}
