    <!--div class="footer row">
      <div class="col-md-2 col-md-offset-5 text-center">
        <a href="https://fb.me/HobartMakers"><img src="/assets/images/social-facebook.png" class="socmed-icon"></a>
        <a href="http://twitter.com/HobartMakers"><img src="/assets/images/social-twitter.png" class="socmed-icon"></a>
        <a href="mailto:info@hobartmakers.com"><img src="/assets/images/social-mail.png" class="socmed-icon"></a>
      </div>
    </div-->
    <div class="footer" >
        <div class="container">
            <div class="pull-left">
                <a href="https://discord.gg/CsTrgVt7BS"><img src="/assets/images/Discord-Logo-White.png" class="socmed-icon" title="Discord" width="32" height="32"></a>
                <a href="https://fb.me/HobartMakers"><img src="/assets/images/social-facebook.png" class="socmed-icon" title="Facebook"></a>
                <a href="mailto:info@hobartmakers.com"><img src="/assets/images/social-mail.png" class="socmed-icon" title="Email"></a>
                <!--a href="{{ site.baseurl }}/calendar.ics"><img src="/assets/images/social-calendar.png" class="socmed-icon" title="Calendar"></a-->
            </div>

            <address class="text-right">
              <strong>Hobart Makers Inc.</strong><br />
              <a href="https://goo.gl/maps/uQf7euVSXdbrKfQy6">
              Enterprize<br />
              Level 5, 24 Davey Street<br />
              Hobart<br />
              Tasmania 7000</a><br />
              <abbr title="Australian Business Number">ABN:</abbr> <a href="https://abr.business.gov.au/SearchByAbn.aspx?abn=37633101451">37 633 101 451</a>
            </address>
        </div>
    </div>

