  <nav class="navbar navbar-default voffset-20">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
            aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
            <a href="{{ "/" | relative_url }}">
                <h3 style="display:none;">Hobart Makers Inc.</h3>
                <img src="/assets/images/HobartMakers262x70.png" height="70" />
            </a>
        </span>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="white-space: nowrap">

            <li {% if '/' == page.url %}class="active"{% endif %}>
                <a href="/">
                    Home 
                </a>
            </li>

            <!-- <li {% if 'news/' == page.url %}class="active"{% endif %}>
               <a href="/news/">News</a>
            </li> -->

            <li {% if 'events/' == page.url %}class="active"{% endif %}>
                <a href="/events/">
                    Events
                </a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                    aria-expanded="false">More Info<span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <!-- <li {% if 'faq/' == page.url %}class="active"{% endif %}>
                        <a href="/faq/">FAQ</a>
                    </li> -->
                    <li {% if 'wishlist/' == page.url %}class="active"{% endif %}>
                        <a href="/wishlist/">Shopping Wishlist</a>
                    </li>
                    <li {% if 'makelist/' == page.url %}class="active"{% endif %}>
                        <a href="/makelist/">Making Wishlist</a>
                    </li>
                </ul>
            </li>
            <!--
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                    aria-expanded="false">Equipment<span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <!-- <li {% if '/equipment/lulzprinter' == page.url %}class="active"{% endif %}>
                        <a href="/equipment/lulzprinter">Lulzbot TAZ4 3D Printer</a>
                    </li> 
                    <li {% if '/equipment/lasercutter' == page.url %}class="active"{% endif %}>
                        <a href="/equipment/lasercutter">K40 Laser Cutter</a>
                    </li>
                    <!-- <li {% if '/equipment/ctc3dprinter' == page.url %}class="active"{% endif %}>
                        <a href="/equipment/ctc3dprinter">CTC 3D Printer</a>
                    </li> 
                    <li {% if '/equipment/' == page.url %}class="active"{% endif %}>
                        <a href="/equipment/">Machine/Equipment List</a>
                    </li>
                </ul>
            </li>
            -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true"
                aria-expanded="false">Members<span class="caret"></span></a>
                
                <ul class="dropdown-menu">
                    <li {% if 'profiles/" == page.url %}class="active"{% endif %}>
                        <a href="/profiles/">Profiles</a>
                    </li>
<!--                    <li {% if 'badges/' == page.url %}class="active"{% endif %}>
                        <a href="/badges/">Badges</a>
                    </li> -->
                    <li {% if 'projects/' == page.url %}class="active"{% endif %}>
                        <a href="/projects/">Projects</a>
                    </li>
                    <li><a href="https://gitlab.com/hobartmakers/">Gitlab Repos</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true"
                aria-expaned="false">About<span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li {% if '/about/CodeOfConduct' == page.url %}class="active"{% endif %}>
                        <a href="/about/CodeOfConduct/">Code of Conduct</a>
                    </li>
                    <li {% if '/about/ValuesStatement' == page.url %}class="active"{% endif %}>
                        <a href="/about/ValuesStatement/">Values Statement</a>
                    </li>
                    <li {% if '/about/contact' == page.url %}class="active"{% endif %}>
                        <a href="/about/contact/">Contact</a>
                    </li>
                </ul>

            </li>

        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/join/" class="btn btn-default navbar-btn">Join</a>
            </li>
        </ul>
        -->
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

