html {height:100%}
body {min-height:100%;}

.socmed-icon {
  border: 0px;
}

.center {
  text-align: center;
}

.header, .voffset-20 {
 margin-top : 20px;
}

.header-image {
 width: 400px;
 height: 215px;
}

.footer {
 margin-top: 100px;
 margin-bottom: 20px;
}

.h1 {
 font-size:80%;
}



.navbar-brand {
    padding: 0px;
}

.navbar-nav a.btn {
    padding: 10px;
    margin: 12px 0px 12px 10px;
    color: #555 !important;
}

.navbar-nav a.btn:hover {
    background-color: #666 !important;
    color: white !important
}

.dropdown-menu > .active > a {
    background-color: rgb(62,122,5) !important;
}



.footer {
    background-color: rgb(62, 122, 5);
    color: white;
    margin: 100px 0px 0px 0px;
    padding: 30px 0px 15px;
}

.footer a {
    color: white !important;
}


.caption {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #000;
  background: rgba(0,0,0, .8);
  color: #fff;
}

.padding-below {
  padding-bottom: 20px;
}

.label-success a, .label-info a {
  color: white;
}

.table-cell {
 border-top: 1px solid #ddd;
 padding-top: 5px;
 padding-bottom: 5px;
}
