---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

{{ content }}

  <h2>Blog Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li>
        <b><a class="post-link" href="{{ post.url | relative_url }}">{{
        post.title | escape }}</a></b> - {{ post.date | date: "%-d %b %Y" }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <h2>Photos</h2>

<div style="max-width:600px; padding-bottom:30px; margin-left:10px; margin-right:10px;">
<ul class="rslides">

{% for item in site.data.photos %}

  {% if item.tags contains page.tag %}
  <li>
  {% if item.url %}
  <a href="{{ site.baseurl }}/{{ item.url }}">
  {% endif %}
  <img src="{{ item.img }}" alt="{{ item.caption }}">
  {% if item.url %}
  </a>
  {% endif %}
  <p class="caption">{{ item.caption }}</p>
  </li>
  {% endif %}

{% endfor %}

</ul>
</div>

  </div>

</article>
